* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Sawarabi Mincho", sans-serif;

  background: #cfd1a5;
  background-repeat: no-repeat;
  height: 768px;
}

.container {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.plant {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.weather-today {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: Transparent;
  border-width: 0px;
  color: black;
}

button:hover {
  background-color: black;
  color: #cfd1a5;
}

.weather-forecast {
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

span {
  transform: translate(-7px, 14px);
  font-size: 10px;
  opacity: 60%;
}

.weather-icon {
  margin-bottom: -20px;
}

.far {
  cursor: pointer;
}

li {
  margin-right: 20px;
}

.form-plant {
  display: inline-block;
}

.hidden {
  display: none;
}

/* ACCESSIBILITY */
label {
  cursor: pointer;
  font-size: 15px;
}

input {
  border-color: white;
  margin-bottom: 10px;
}

input[type="text"]:hover {
  border-color: darkblue;
  border-width: 2px;
}

input[type="date"]:hover {
  border-color: darkblue;
  border-width: 2px;
}

label:focus-within {
  color: blue;
}

input[type="text"]:focus {
  border: 2px solid darkgreen;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.far {
  margin: 10px;
}
